header {
    background-image: url("../apple-pie/images/apple-pie.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 400;
}

.paragraph1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin: 4rem;
    font-weight: 300;
    font-size: 22px;
}

.ingredients {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin: 4rem;
}

.directions {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4rem;
}

.pic2 {
    width: 50%; 
    margin-left: auto;
    margin-right: auto; 
    display: flex;
}

.pic3 {
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
  display: flex;
}